﻿@model Metrel.Model.Address

<div>
    <div>@Html.DisplayFor(model=>model.AddressLine1)</div>
    <div>@Html.DisplayFor(model => model.AddressLine2)</div>
    <div>@Html.DisplayFor(model => model.ZipPostalCode) @Html.DisplayFor(model => model.City)</div>
    <div>@Html.DisplayFor(model => model.StateProvinceRegion)</div>
    <div>@Html.DisplayFor(model => model.Country)</div>
</div>
 

                

